html,body,ul,select,p {margin:0;padding:0;}
body{font-family: \5FAE\8F6F\96C5\9ED1,"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:100%;}
.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after {display: table;line-height: 0;content: "";}
.clearfix:after {clear: both;}
img{max-width:100%;}
.hide{display:none;}

.wrapper{}
header{margin:0 auto;margin-bottom:0px;color:#fff;padding-top:25px;padding-bottom: 20px;}
header .bg{position:absolute;z-index:-1;top:0;margin:0 auto;width:100%;height:90px;}
header .over-logo{position:absolute;z-index:1;top:120px;left:50%;margin-left:-168px;}
header p img{vertical-align:middle;margin-left:5%;}
header p.tit{font-size:3.75em;text-align:center;margin-top:200px;}
header p.desc{font-size:1.75em;text-align:center;}
header .blue-bg{height:1.5em;border-radius:20px;background: #0187ff;background: -moz-linear-gradient(top, #01a8ff, #0187ff 100%);background: -o-linear-gradient(top, #01a8ff, #0187ff 100%);background: -webkit-gradient(linear,0 0,0 100%,from(#01a8ff), to(#0187ff));}
header a{color:#fff;font-size:1.5em;text-decoration:none;float:right;margin-right:30px;padding:2px 15px;padding-top:6px;}
article .btn-group a.ios{text-decoration:none;color:#fff;font-size:1.75em;height:102px;line-height:102px;background: #0293e7;background: -moz-linear-gradient(top, #0293e7, #027ae7 100%);background: -o-linear-gradient(top, #0293e7, #027ae7 100%);background: -webkit-gradient(linear,0 0,0 100%,from(#0293e7), to(#027ae7));display:inline-block;width:45%;max-width:300px;border-radius:10px;box-shadow:0 2px 5px #b1b1b1;}
article .btn-group a span{display:inline-block;width:48px;height:82px;margin: 13px;float:left;}
article .btn-group span.iphone-download{background:url(../../m4/img/iphone.png) no-repeat;margin-left:20px;margin-right: 0px;}
article .btn-group span.ipa-download{background:url(../../m4/img/ipa.png) no-repeat;margin-left:20px;}
article .btn-group a.android{
position: absolute;
top: 410px;
left: 69%;
text-decoration:none;color:#fff;font-size:0.875em;
background: #4fb547;
background: -moz-linear-gradient(top, #41dc29, #4fb547 100%);
background: -moz-o-gradient(top, #41dc29, #4fb547 100%);
background: -webkit-gradient(linear,0 0,0 100%,from(#41dc29), to(#4fb547));
display:inline-block;
width:52%;
max-width:130px;
height:72px;line-height:72px;
border-radius:10px;
box-shadow:0 2px 5px #b1b1b1;
}
article .btn-group a.shouye{
position: absolute;
top: 850px;
left: 69%;
text-decoration:none;color:#fff;font-size:0.875em;
background: #4fb547;
background: -moz-linear-gradient(top, #41dc29, #4fb547 100%);
background: -moz-o-gradient(top, #41dc29, #4fb547 100%);
background: -webkit-gradient(linear,0 0,0 100%,from(#41dc29), to(#4fb547));
display:inline-block;
width:52%;
max-width:130px;
height:72px;line-height:72px;
border-radius:10px;
box-shadow:0 2px 5px #b1b1b1;
}
article .btn-group a.ios{
position: absolute;
top: 660px;
left: 5%;
text-decoration:none;color:#fff;font-size:0.875em;
background: #4fb547;
background: -moz-linear-gradient(top, #41dc29, #4fb547 100%);
background: -moz-o-gradient(top, #41dc29, #4fb547 100%);
background: -webkit-gradient(linear,0 0,0 100%,from(#41dc29), to(#4fb547));
display:inline-block;
width:52%;
max-width:130px;
height:72px;line-height:72px;
border-radius:10px;
box-shadow:0 2px 5px #b1b1b1;
}
article .btn-group span.android-download{background:url(../../m4/img/android.png) no-repeat;width:60px;margin-left:18px;margin-right:0}

article .btn-group a.wp{text-decoration:none;color:#fff;font-size:1.875em;height:102px;background:#58bb13;display:inline-block;width:52%;max-width:325px;box-shadow:0 2px 5px #b1b1b1;position:relative;}
article .btn-group span.wp-download{background:url(../../m4/img/wp.png) no-repeat;width: 35px;margin: 0;margin-left:25px;position:absolute;left:25px;top:13px;}
article .btn-group span.wp-left{width:25px;background:#4aa40e;position:absolute;left:0;height: 102px;top: 0;margin: 0;opacity:.8;}
article .btn-group span.text-top{width: 348px;margin:16px 0 0 10px;height: 34px;font-size:0.85em;}
article .btn-group span.text-bottom{width: 348px;margin:0;height: 43px;}

article.ios section.ios-btn{display:block;}
article.android section.android-btn{display:block;}
article.wp section.wp-btn{display:block;}
article .btn-group a.weixin_btn{display:none;}
article.weixin a.ios,article.weixin a.android,article.weixin a.wp{display:none;}
article.weixin a.weixin_btn{display:inline-block;}

article .mr5{margin-right:5%;}
article section{text-align:center;border-bottom:1px dashed #b2b2b2;}
article .section-last{border-bottom:0;}
article .img-bg{margin-top:15px;}
article p.tit{font-size:40px;padding:15px 0;}
article p.desc{font-size:24px;color:#818181;padding:5px 0;}
footer{color:#929292;font-size:22px;text-align:center;height:5.75em;line-height:5.75em;}