body{line-height:1.6;background-color:#fff;font-family:"微软雅黑",Helvetica,"黑体",Arial,Tahoma}
body,input,textarea,select{color:#333}
body,h1,h2,h3,h4,p,ul,ol,dl,dd{margin:0}
ul,ol{padding-left:0;list-style-type:none}
.show{ display:block;}
.hide{ display:none;}
a img{border:0}
.dn{display:none}
.db{display:block}
.dib{display:inline-block; margin:6px 0 6px 0;}
.dib img{ height:70px;}
.b_dib{display:inline-block;*display:inline;*zoom:1}
.di{display:inline}
.vh{visibility:hidden}
.vv{visibility:visible}
.rel{position:relative}
.abs{position:absolute}
.oh{overflow:hidden}
.z{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear:both}
.group{*zoom:1}
.group:after{content:"\200B";display:block;height:0;clear:both}
.tc{text-align:center}
.tr{text-align:right}
.tl{text-align:left}
.tj{text-align:justify;*text-justify:distribute}
.vt{vertical-align:top}
.vm{vertical-align:middle}
.vb{vertical-align:bottom}
.f0{font-size:0}
.fa{font-family:Arial}
.fs{font-family:SimSun}
.fyh{font-family:"Microsoft YaHei"}
.indent{text-indent:2em}
.n{font-weight:400;font-style:normal}
.b{font-weight:700}
.i{font-style:italic}
.tdn{text-decoration:none}
.tdn:hover{text-decoration:none}
.poi{cursor:pointer}
.text-hide{line-height:999em;overflow:hidden}
.drop_hl_extra{padding-left:999em;margin-left:-999em}
.drop_vb_extra{padding-bottom:999em;margin-bottom:-999em}
body{min-width:960px;background-color:#f7f7f7;font-size:14px}
a{text-decoration:none;color:#3f65b5}
a:hover{text-decoration:underline}
.icon24-login{display:inline-block;vertical-align:middle;width:24px;height:24px;margin:0 auto;background:transparent url(../images/icon24_login.png) no-repeat center center}
.icon24-login.un{background-position:0 0}
.icon24-login.err{background-position:-24px 0}
.icon24-login.pwd{background-position:-48px 0}
.icon24-login.checkbox{background-position:-72px -2px;}
.icon24-login.checkbox_checked{background-position:-96px 0}
.icon24-login.add{background-position:-120px 0}
.wrapper{width:960px;margin:0 auto}
.input-shadow{box-shadow:inset 0 1px 3px rgba(170,170,170,0.8);-moz-box-shadow:inset 0 1px 3px rgba(170,170,170,0.8);-webkit-box-shadow:inset 0 1px 3px rgba(170,170,170,0.8)}
#header{border-top:5px solid #67ad03;position:relative;background-color:#f3f3f3;z-index:1;box-shadow:0 3px 5px rgba(0,0,0,0.5);-moz-box-shadow:0 3px 5px rgba(0,0,0,0.5);-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.5);box-shadow:0 3px 5px rgba(0,0,0,0.5) #000;-moz-box-shadow:0 3px 5px rgba(0,0,0,0.5) #000;-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.5) #000}
#header .wrapper{position:relative;line-height:60px}
#header .wrapper img{vertical-align:middle}
#header .hd_login_info{position:absolute;right:0;top:38px}
#banner{background: url(../images/banner.jpg) no-repeat center center;background-size:100% 460px;}
#banner .wrapper{height:460px;position:relative}
.input-focus{border-color:#4a9bdf}
.login-panel{position:absolute;top:25px;right:0;padding:25px 35px 20px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:3px 3px 5px rgba(0,0,0,0.5);-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.5);-webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.5);box-shadow:3px 3px 5px rgba(0,0,0,0.5) #000;-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.5) #000;-webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.5) #000;background-color:#e4e4e4;background:-webkit-gradient(linear,left top,left bottom,from(rgba(228,228,228,0.9)),to(rgba(248,248,248,0.9)));background:-moz-linear-gradient(top,rgba(228,228,228,0.9) 0,rgba(248,248,248,0.9) 100%)}
.login-panel h3{font-size:21px;margin-bottom:5px;font-weight:normal;text-shadow:1px 1px 1px #eee}
.login-panel .arrow{position:absolute;top:-20px;right:78px;font-size:0;border-width:10px;border-color:transparent;border-style:dashed;border-bottom-color:#cfcfd2;border-bottom-color:#e4e4e4;border-bottom-style:solid}
.login-mod{width:316px}.login-mod input{border:0;outline:0;margin:0;padding:0;font-size:14px}
.login-mod .icon-wrapper{display:inline-block;vertical-align:middle;line-height:0}
.login-mod .login-remember-pwd:hover,.login-mod .login-btn:hover{text-decoration:none}
.login-err-panel{margin-left:-4px;color:#d70000;font-size:13px}
.login-form{width:316px;margin-top:5px;box-shadow:inset 0 1px 3px rgba(170,170,170,0.8);-moz-box-shadow:inset 0 1px 3px rgba(170,170,170,0.8);-webkit-box-shadow:inset 0 1px 3px rgba(170,170,170,0.8);background-color:#fff;border-bottom:1px solid #fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.login-form div{border:1px solid #aeaeae;padding:3px 0}
.login-form .login-un{border-top-left-radius:5px;border-top-right-radius:5px}
.login-form .login-pwd{border-top:0;border-bottom-left-radius:5px;border-bottom-right-radius:5px}
.login-form span{margin:0 15px}.login-form input{width:240px;padding:11px 0;vertical-align:middle;font-family:"Microsoft YaHei"}
.login-form.login_on_un .login-un{border-color:#4a9bdf;box-shadow:0 0 5px #aedcfa;-moz-box-shadow:0 0 5px #aedcfa;-webkit-box-shadow:0 0 5px #aedcfa;box-shadow:0 0 5px #aedcfa #000;-moz-box-shadow:0 0 5px #aedcfa #000;-webkit-box-shadow:0 0 5px #aedcfa #000}
.login-form.login_on_pwd .login-un{border-bottom:0}
.login-form.login_on_pwd .login-pwd{border:1px solid;border-color:#4a9bdf;box-shadow:0 0 5px #aedcfa;-moz-box-shadow:0 0 5px #aedcfa;-webkit-box-shadow:0 0 5px #aedcfa;box-shadow:0 0 5px #aedcfa #000;-moz-box-shadow:0 0 5px #aedcfa #000;-webkit-box-shadow:0 0 5px #aedcfa #000}
.login-code-panel{margin-top:10px}
.login-code-panel input{width:100px;padding:10px;vertical-align:middle;box-shadow:inset 0 1px 3px rgba(170,170,170,0.8);-moz-box-shadow:inset 0 1px 3px rgba(170,170,170,0.8);-webkit-box-shadow:inset 0 1px 3px rgba(170,170,170,0.8);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #aeaeae;font-size:16px}
.login-code-panel input:focus{border-color:#4a9bdf}
.login-code-panel span{width:100px;height:40px;margin-left:10px;margin-right:6px}
.login-code-panel span img{width:100%;height:100%}
.login-help-panel{overflow:hidden;margin-top:10px;margin-left:-4px;color:#445c8f}
.login-help-panel .icon24-login.add{margin-top:-0.2em;*margin-top:0}
.login-help-panel .login-forget-pwd{float:right}
.login-help-panel .login-remember-pwd{color:#333}
.login-btn-panel{margin-top:20px;padding-bottom:30px}
.login-btn-panel .login-btn{display:inline-block;width:120px;margin-right:15px;padding:3px 0;background-color:#5ba10e;background:-webkit-gradient(linear,left top,left bottom,from(#6fb420),to(#51930d));background:-moz-linear-gradient(top,#6fb420 0,#51930d 100%);color:#fff;border:1px solid #638467;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-align:center}
.qrcode-panel{position:absolute;top:24px;right:-178px;background-color:#e1e2e6;text-align:center;color:#717375;padding:10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.split_top{border-bottom:1px solid #d6d6d6}
.split_bottom{border-top:1px solid #fff}
.default_wrapper{background-color:#dcdcdc;border:1px solid #c0c0c0;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:inset 0 1px 0 #eee,0 1px 5px #a1a1a1;-moz-box-shadow:inset 0 1px 0 #eee,0 1px 5px #a1a1a1;-webkit-box-shadow:inset 0 1px 0 #eee,0 1px 5px #a1a1a1}
.default_wrapper .arrow{position:absolute;left:36px;top:-20px}
.default_wrapper .arrow i{position:absolute;width:0;height:0;border-width:10px;border-color:transparent;border-style:dashed}
.default_wrapper .arrow i.arrow_out{border-bottom-color:#c0c0c0;border-bottom-style:solid}
.default_wrapper .arrow i.arrow_in{top:1px;border-bottom-color:#dcdcdc;border-bottom-style:solid}
.icon_mp_fnc{display:inline-block;width:143px;height:144px;vertical-align:middle;}
.icon_mp_fnc.maxcode{background:url(../images/statistics.png) no-repeat}
.icon_mp_fnc.msg{background:url(../images/repond.png) no-repeat}
.icon_mp_fnc.brand{background-position:0 -288px}
.icon_mp_fnc.trans{background:url(../images/component.png) no-repeat}
.icon_mp_fnc.sweb{background:url(../images/sweb.png) no-repeat}
.icon_mp_fnc.smember{background:url(../images/smember.png) no-repeat}
.icon_mp_case{display:inline-block;width:80px;height:80px;vertical-align:middle;background:transparent url(../images/icon_mp_case.png) no-repeat 0 0}
.icon_mp_case.yxbj{background-position:0 -80px}
.icon_mp_case.zsyh{background-position:-80px -80px}
.icon_mp_case.nfhk{background-position:-160px -80px}
.icon_mp_case.xijqr{background-position:-240px -80px}
.icon_mp_case.qxxz{background-position:-320px -80px}
.icon_mp_case.gdlt{background-position:-400px -80px}
.icon_mp_case.sgyyzs{background-position:-480px -80px}
.icon_mp_case.wxlk{background-position:-560px -80px}
.icon_mp_case.on.yxbj,.icon_mp_case:hover.yxbj{background-position:0 0}
.icon_mp_case.on.zsyh,.icon_mp_case:hover.zsyh{background-position:-80px 0}
.icon_mp_case.on.nfhk,.icon_mp_case:hover.nfhk{background-position:-160px 0}
.icon_mp_case.on.xijqr,.icon_mp_case:hover.xijqr{background-position:-240px 0}
.icon_mp_case.on.qxxz,.icon_mp_case:hover.qxxz{background-position:-320px 0}
.icon_mp_case.on.gdlt,.icon_mp_case:hover.gdlt{background-position:-400px 0}
.icon_mp_case.on.sgyyzs,.icon_mp_case:hover.sgyyzs{background-position:-480px 0}
.icon_mp_case.on.wxlk,.icon_mp_case:hover.wxlk{background-position:-560px 0}
.mp_fnc_mod{padding:15px;border-bottom:1px solid #d6d6d6;text-align:justify;*text-justify:distribute;}
.mp_fnc{display:inline-block;*display:inline;*zoom:1;width:170px;text-align:center;}
.mp_fnc_hd .icon_wrapper{display:block}
.mp_fnc_t{padding-top:14px;font-size:16px;font-weight:700;color:#222}
.mp_fnc_c{color:#7b7b7b}
.mp_case_mod{padding-top:40px;border-top:1px solid #fff}
.mp_case_list{position:relative;padding:0 78px 0}
.mp_case_mod_t{font-size:20px;font-weight:normal}
.mp_case_mod_bd{margin-top:10px}
.mp_case_item{display:inline-block;*display:inline;*zoom:1;width:96px;margin-right:77px;text-align:center;cursor:pointer}
.mp_case_item .icon_wrapper{display:inline-block}
.mp_case_t{padding-top:4px;font-size:14px;color:#555;font-weight:400}
.mp_case_desc{width:900px;margin-top:15px;padding:16px 15px;position:relative}
.mp_case_desc_text{margin-right:10px;line-height:2}
.mp_case_desc_img{width:320px;height:480px;margin-right:10px;float:left}
.mp_case_desc_img.extra{margin-right:20px}
#footer{margin-top:50px;padding:30px 0;background-color:#727171;text-align:center;color:#dadada}
#footer a{padding-right:10px;margin-left:10px;color:#dadada}
