.nav .contact-server {
	margin-top: 15px
}

.sidebar-news {
	padding: 0 0 0 25px
}

.sidebar-news h3 {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 2
}

.sidebar-news h5 {
	margin: -2px 0 2px;
	font-size: 12px;
	font-weight: normal;
	color: #999;
	line-height: 1.8
}

.sidebar-news li {
	line-height: 1.8
}

.sidebar-news li em {
	display: inline-block;
	width: 7px;
	margin-left: -7px
}

.sidebar-news li i {
	position: absolute;
	margin-top: -17px
}

.sidebar-news li .other-ellipsis {
	display: inline-block;
	margin-left: -6px
}

.sidebar-news .changelogs {
	margin-top: 25px
}

.sidebar-news .more-news {
	margin-top: 3px
}

.dash-bar {
	margin-bottom: 12px;
	padding: 5px 7px 8px 0
}

.dash-bar .info-group {
	padding: 0 32px
}

.dash-bar .info-group .h4 {
	font-size: 22px
}

.dash-bar .info-group .info-description {
	font-size: 12px
}

.widget-chart-no-data {
	text-align: center;
	font-size: 16px;
	color: #999
}

.widget.ui-block-no-data {
	min-height: 150px
}

.widget.ui-block-no-data .ui-block-no-data-content {
	text-align: center;
	padding-top: 60px;
	min-height: 90px;
	font-size: 16px;
	color: #999
}

.widget.ui-block-no-data .widget-body {
	border: 1px solid #e4e4e4;
	min-height: 150px
}

.widget .widget-body.with-border {
	border: 1px solid #e4e4e4;
	padding: 0
}

.widget .chart-desc {
	float: left;
	width: 180px;
	min-height: 281px
}

.widget .chart-desc li {
	padding: 18px 10px 22px;
	width: 160px;
	height: 53px;
	text-align: center;
	border-bottom: 1px solid #e4e4e4;
	background: #f8f8f8
}

.widget .chart-desc li:last-of-type {
	border-bottom: none
}

.widget .chart-desc li p {
	margin-bottom: 0
}

.widget .chart-desc li .num {
	font-size: 22px;
	margin-bottom: 14px
}

.widget .chart-desc li .title {
	font-size: 15px
}

.widget .chart-body {
	float: left;
	width: 657px;
	min-height: 281px;
	height: 281px;
	border-left: 1px solid #e4e4e4
}

.widget .widget-chart-no-data {
	margin-top: 124px
}

.dashboard .widget-pagedata .chart-desc,.ump-dashboard .widget-pagedata .chart-desc {
	min-height: 399px
}

.dashboard .widget-pagedata .chart-desc li,.ump-dashboard .widget-pagedata .chart-desc li {
	padding: 13px 10px
}

.dashboard .widget-pagedata .chart-desc li .num,.ump-dashboard .widget-pagedata .chart-desc li .num {
	margin-bottom: 10px
}

.dashboard .widget-pagedata .chart-body,.ump-dashboard .widget-pagedata .chart-body {
	min-height: 399px;
	height: 399px
}

.dashboard .widget-pagedata .widget-chart-no-data,.ump-dashboard .widget-pagedata .widget-chart-no-data {
	margin-top: 185px
}

.dashboard .widget-banner {
	margin-bottom: 12px;
	padding: 3px 0;
	text-align: center;
	font-size: 14px
}

.dashboard .widget-banner .strong a {
	color: #fc863f;
	font-weight: normal
}

.dashboard .widget-banner .divide {
	margin: 0 6px;
	color: #ccc
}

.dashboard .widget-service {
	margin-bottom: 18px
}

.dashboard .widget-service .number-read {
	float: left;
	margin-right: 10px;
	width: 180px;
	height: 260px;
	overflow: hidden;
	border: 1px solid #e4e4e4
}

.dashboard .widget-service .help-group {
	float: left;
	width: 648px
}

.dashboard .widget-service .case-help {
	margin-right: 10px
}

.dashboard .widget-service .widget {
	float: left;
	width: 287px;
	padding: 13px 15px;
	margin-bottom: 0;
	border: 1px solid #e4e4e4
}

.dashboard .widget-service .widget .widget-head {
	margin-bottom: 10px;
	padding-bottom: 3px
}

.dashboard .widget-service .widget .widget-title {
	padding-left: 0
}

.dashboard .widget-service .widget .widget-body {
	min-height: 198px
}

.dashboard .widget-service .widget li {
	margin-left: 2px;
	font-size: 12px;
	line-height: 22px;
	list-style: disc;
	list-style-position: inside;
	color: #999
}

.dashboard .widget-wx-fans,.dashboard .widget-pagedata {
	margin-bottom: 18px
}

.ump-dashboard .widget-pagedata {
	height: 364px
}

.ump-dashboard .widget-pagedata .widget-body {
	height: 319px
}

.ump-dashboard .overview {
	margin-bottom: 20px
}

.ump-dashboard .overview ul {
	margin-bottom: 9px
}

.ump-dashboard .overview li {
	float: left;
	width: 173px;
	height: 52px;
	padding: 13px 15px 12px;
	margin-right: 9px;
	background: #f8f8f8
}

.ump-dashboard .overview li.last-col {
	margin-right: 0
}

.ump-dashboard .overview li.with-2 {
	width: 386px
}

.ump-dashboard .overview li p {
	margin-bottom: 0
}

.ump-dashboard .overview li .h4 {
	display: block;
	font-size: 18px;
	margin-bottom: 12px
}

.ump-dashboard .overview li .info-desc {
	font-size: 12px
}

.ump-dashboard .overview li .info-desc a,.ump-dashboard .overview li .info-desc .num {
	margin: 0 3px
}

.weixin-dashboard .widget-wx-fans .widget-body__inner {
	height: 320px
}

.weixin-dashboard .widget-wx-interact .widget-body__inner,.weixin-dashboard .widget-wx-pageview .widget-body__inner {
	height: 300px
}

.weixin-dashboard .widget-wx-interact .ui-block-no-data-content,.weixin-dashboard .widget-wx-pageview .ui-block-no-data-content {
	padding-top: 130px;
	min-height: 170px
}

.showcase-dashboard .widget-pagerank .widget-body__inner,.showcase-dashboard .widget-pageview .widget-body__inner {
	height: 277px;
	overflow: hidden
}

.showcase-dashboard .widget-pagerank .ui-block-no-data-content,.showcase-dashboard .widget-pageview .ui-block-no-data-content {
	padding-top: 120px;
	min-height: 157px
}

.showcase-dashboard .widget-pagerank .table td.td-title {
	width: 280px
}

.showcase-dashboard .widget-pagerank .table td.td-title .td-cont {
	width: 270px
}

.fans-dashboard .widget-attr {
	float: left;
	width: 524px
}

.fans-dashboard .widget-attr .chart-gender,.fans-dashboard .widget-attr .chart-scale {
	float: left;
	padding: 10px 30px 10px 5px;
	width: 220px;
	height: 240px
}

.fans-dashboard .widget-attr .chart-scale {
	float: right
}

.fans-dashboard .widget-level {
	float: right;
	width: 301px
}

.fans-dashboard .widget-level .widget-body__inner {
	padding: 10px 5px;
	width: 290px;
	min-height: 240px
}

.fans-dashboard .widget-wx-area .chart-body {
	padding: 10px 15px;
	width: 490px;
	min-height: 330px;
	border-left: none
}

.fans-dashboard .widget-wx-area .chart-desc {
	float: right;
	width: 300px;
	min-height: 320px
}

.fans-dashboard .widget-wx-area .chart-desc table {
	border-top: none;
	border-right: none;
	border-bottom: none
}

.app-openapi .form-horizontal {
	margin-bottom: 80px;
	padding-top: 15px
}

.isv-grid {
	margin-bottom: 12px
}

.isv-grid li {
	float: left;
	margin-right: 10px;
	width: 200px;
	height: 250px;
	border: 1px solid #e4e4e4
}

.isv-grid li:last-child {
	margin-right: 0
}

.isv-grid li p {
	margin-bottom: 0;
	display: block
}

.isv-grid li .isv-desc {
	padding: 5px 8px 0;
	height: 140px
}

.isv-grid li .isv-link {
	padding: 0 8px;
	text-align: right
}

.isv-grid li.coming .isv-logo {
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #999;
	background: #f4f4f4
}

.isv-grid li.coming .isv-desc {
	padding-top: 75px;
	font-size: 24px;
	line-height: 24px;
	color: #999;
	text-align: center
}